<!DOCTYPE html>

<!--
Project name(项目名称)：Element_UI_Radio
  File name(文件名): test1
  Authors(作者）: mao
  Author QQ：1296193245
  GitHub：https://github.com/maomao124/
  Date(创建日期)： 2022/4/27
  Time(创建时间)： 19:43
  Description(描述)： 无
-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/element-ui.css">
    <script src="js/vue.js"></script>
    <script src="js/element-ui.js"></script>
</head>
<body>

<div id="app">
    <el-radio @change="change" v-model="radio" label="1">选项1</el-radio>
    <el-radio @change="change" v-model="radio" label="2">选项2</el-radio>
    <el-radio @change="change" v-model="radio" label="3">选项3</el-radio>
    <el-radio @change="change" v-model="radio" label="4">选项4</el-radio>

</div>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            radio: "2"
        },
        methods: {
            change: function ()
            {
                console.log(this.radio)
            }
        },
    })
</script>

</body>
</html>